{% extends "layout.html" %}

{% block title %}Page Not Found | The Steward's Watch{% endblock %}
{% block meta_description %}The page you're looking for doesn't exist. Return to The Steward's Watch homepage.{% endblock %}

{% block content %}
<div class="page-content not-found">
  <h1>Page Not Found</h1>
  <p>Sorry, we couldn't find what you were looking for. It may have moved or the link may be incorrect.</p>
  <div class="not-found-links">
    <a class="button" href="/">Go Home</a>
    <a class="button" href="/contact">Contact Us</a>
  </div>
</div>
{% endblock %}
